<h2>LOGIN</h2>


<% if (username) { %>
  <h2>Name is <%= username %></h2>
  <form method="POST" action="/logout">
    <button type="logout"> Logout </button>
  </form>

<% } else { %>

  <a href="/register"> Register </a>
  <a href="/login"> Login </a>

<% } %>