<h2>Register</h2>


  <form method="POST" action="/register">
    <input type="email" name="email">
    <input type="password" name="password">
    <button type="register"> Register </button>
  </form>

