<h2>Login</h2>

<% include partials/_header %>

  <form method="POST" action="/login">
    <input type="email" name="email">
    <input type="password" name="password">
    <button type="login"> Login </button>
  </form>

