<!DOCTYPE html>
<html lang="en">
<head>
  <title>TinyApp</title>
</head>
<body>

  <ul>
    <% for (let key in urls) { %>
      <li><%= key %> - <%= urls[key] %></li>
      <form method="POST" action=<%=`/urls/${key}/delete` %>>
        <button type="submit"> Delete </button>
    <% } %>
    <a href='#'>Shorten</a>


  </ul>
</body>
</html>